.revoSports {
  padding: 2%;
  cursor: pointer;
  border: 1px solid black; 
  margin-top: 3%; 
}

.boundary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.revoSports >* {
  align-self: center;
  flex-grow: 1;
}

.runUpNets {
  border: 1px solid black; 
  display: flex;
  align-content: center;
  height: 130px;
  width: 60px;
  align-items: center;
  writing-mode: vertical-rl;
}

.pitch {
  width: 25px; 
  height: 80px; 
  background-color: green;
}

.bowlingMachineBox {
  height: 130px;
  width: 180px;
  border:1px solid black; 
}

.CoachesBox1 {
  border: 1px solid black; 
  display: flex;
  align-content: center;
  height: 130px;
  width: 100px;
}

.bowlingMachine {
  align-content: center;
  border: 1px solid black; 
  color: pink;
  display: flex;
  height: 130px;
  width: 60px;
  align-items: center;
  writing-mode: vertical-rl;
}

.floorBall {
  border: 1px solid black; 
  height: 130px;
  width: 200px;
  writing-mode: vertical-rl;
}

.imgStyles {
  display: flex;
  align-content: center;
  width: 50px; 
  height: 50px; 
}

.imgStyling {
  width: 50px; 
  height: 50px; 
}