.boundary {
  display: flex;
  justify-content: space-around;
}

.bowlingMachine {
  align-items: center;
  border: 1px solid black; 
  color: pink;
  display: flex;
  height: 13rem;
  width: 6rem;
  flex-direction: column;
}

.bowlingMachineBox {
  align-items: center;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 18rem;
}

.bowlingMachineBorder {
  align-items: center;
  display: flex; 
  height: 3rem;
  width: 3rem; 
}

.centre {
  height: 3rem; 
  width: 3rem; 
}

.columnStyle {
  display: flex;
  flex-direction: column;
}

.court {
  background-color: brown;
  height: 9rem; 
  width: 15rem;
}

.CoachesBox1 {
  align-items: center;
  border: 1px solid black; 
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 10rem;
}

.floorBall {
  align-items: center;
  border: 1px solid black; 
  display: flex; 
  height: 13rem;
  width: 20rem;
  flex-direction: column;
}

.imgStyles {
  align-content: center;
  display: flex;
  height: 5rem; 
  width: 5rem; 
}

.imgStyling {
  width: 5rem; 
  height: 5rem; 
}

.pitch {
  background-color: green;
  width: 2rem; 
  height: 8rem; 
  margin-top: 1rem; 
}

.pitchBorders {
  align-items: center;
  display: flex;  
  height: 3rem;
  width: 5rem; 
}

.revoSports {
  border: 1.5px solid black;
  cursor: pointer;
  margin: 3rem;   
}

.rowStyle {
  display: flex;
  flex-direction: row;
}

.runUpNets {
  align-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid black; 
  display: flex;
  height: 13rem;
  width: 6rem;
  flex-direction: column;
}

.triplePitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}

.triplet {
  margin: 1rem; 
}
