.boundary {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bowlingMachine {
  align-items: center;
  border: 1px solid black; 
  color: pink;
  display: flex;
  height: 130px;
  width: 60px;
  writing-mode: vertical-rl;
}

.bowlingMachineBox {
  align-items: center;
  border:1px solid black;
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 180px;
}

.bowlingMachineBorder {
  align-items: center;
  display: flex; 
  height: 30px;
  width: 30px; 
}

.columnStyle {
  display: flex;
  flex-direction: column;
}

.court {
  background-color: brown;
  height: 90px; 
  width: 150px;
}

.CoachesBox1 {
  align-items: center;
  border: 1px solid black; 
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100px;
}

.floorBall {
  align-items: center;
  border: 1px solid black; 
  display: flex; 
  height: 130px;
  width: 200px;
  writing-mode: vertical-rl;
}

.imgStyles {
  align-content: center;
  display: flex;
  height: 50px; 
  width: 50px; 
}

.imgStyling {
  width: 50px; 
  height: 50px; 
}

.pitch {
  background-color: green;
  width: 25px; 
  height: 80px; 
}

.pitchBorders {
  align-items: center;
  display: flex;  
  height: 30px;
  width: 50px; 
}

.revoSports {
  border: 1px solid black; 
  cursor: pointer;
  margin-top: 3%; 
  padding: 2%;
}

.revoSports >* {
  align-self: center;
  flex-grow: 1;
}

.rowStyle {
  display: flex;
  flex-direction: row;
}

.runUpNets {
  align-content: center;
  align-items: center;
  border: 1px solid black; 
  display: flex;
  height: 130px;
  width: 60px;
  writing-mode: vertical-rl;
}

.triplePitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -1rem;
}
